.about{
    background: #ffffff;
    p{
        color: black;
        font-weight: 600;
    }
}

.about-container{
    padding: 5rem 2rem;
}

.about-content{
    @include flex(center, flex-start, row);
    flex-wrap: wrap;
}

.about-about{
    flex: 1;
    height: 100%;
    h2{
        margin-bottom: 2rem;
    }
}

.about-img{
    flex: 1 ;
    min-width: 300px;
    margin-left: 2rem;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.award-container{
    @include flex(flex-start, center, row);
    gap: 2rem;
    img{
        height: 50px;
        width: 50px;
    }
    margin-bottom: 2rem;
}

.award-content{
    @include flex(center, flex-start, column);
    h5, p{
        font-family: 'Cormorant Upright', serif;
    }
    p{
        margin-top: 0.5rem;
    }
}

.welcome{
    background: #f9f9f9;
    padding: 5rem 2rem;
    p{
        color: black;
        font-size: 1rem;
    }
    img{
        width: 10rem;
        margin-top: 2rem;
    }
}

.welcome-header{
    @include flex(center, center, row);
    margin-bottom: 2rem;
}

.welcome-container{
    max-width: 800px;
    margin: auto;
}