.footer-main{
    @include flex(space-between, flex-start, row);
    max-width: 1400px;
    margin: 0 auto;
    padding: 5rem 2rem;
}

.footer-section{
    @include flex(center, center, column);
    flex: 1;
    h3,h4{
        font-size: 1.6rem;
        font-family: 'Cormorant Garamond', serif;
    }
    h3{
        margin-bottom: 0.5rem;
    }
    h4{
        margin-bottom: 1rem;
    }
    span{
        font-weight: bold;
    }
    ul{
        @include flex(center, center, column);

    }
    li{
        margin-bottom: 0.5rem;
    }
    img{
        margin-bottom: 0.5rem;
    }
}

.footer-socials{
    img{
        margin: 0 0.5rem;
        height: 30px;
        width: 30px;
    }
}